<div id="main" class="box" [ngStyle]="mainStyles">
  <span style="font-size: 20px; cursor: pointer" (click)="openNav()">&#9776; Entities Comparison</span>
</div>
<router-outlet></router-outlet>
<div class="sidenav" [ngStyle]="sideNavStyles">
  <div routerLinkActive="active"><a routerLink="/instructions">Instructions</a></div>
  <div routerLinkActive="active"><a routerLink="/entities">Start</a></div>
</div>
<!-- class="text-center text-black" -->

<!-- <footer class="text-center text" [ngStyle]="mainStyles">
  <hr />
  Copyright © 2022 Entities Comparison Inc.
  <br />
  All trademarks or registered trademarks are property of their respective
  owners.
</footer> -->


<!-- <div class="text-center">
  <img src="../assets/logo.jpg" class="rounded" alt="Entities Comparison">
</div>
<div *ngIf="!entered">
  <div class="page-hero d-flex align-items-center justify-content-center">
    <div class="form-group shadow-textarea"> -->
<!-- <label for="exampleFormControlTextarea6">Shadow and placeholder</label> -->
<!-- <textarea [(ngModel)]=data class="form-control z-depth-1" id="exampleFormControlTextarea6" cols=50 rows=10
        placeholder="Enter a JSON format..."></textarea>
      <br>
      <button type="button" class="btn btn-primary" (click)="select()">Select</button>
      <button type="button" class="btn btn-primary beautify" (click)="beautify()">Beautify</button>
    </div>
  </div>
</div>

<div *ngIf="entered">
  <app-main-entity></app-main-entity>
</div> -->

<!-- <div class="row">
  <div class="text-center">
    <img src="../assets/logo.jpg" class="rounded" alt="Entities Comparison">
  </div>

  <div class="page-hero d-flex align-items-center justify-content-center">

    <div class="card border-light mb-3" style="max-width: 18rem;"> -->

<!-- <div class="card-header">Input</div> -->
<!-- <div class="card-body">
        <div class="input-group"> -->

<!-- <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
          </form> -->
<!-- <textarea ng-model="myTextarea" rows="5" class="form-control" placeholder="Enter a JSON format"
            aria-label="With textarea"></textarea> -->

<!-- </div>
        <br> -->
<!-- <button type="button" class="btn btn-primary" (click)="select()">Select</button> -->
<!-- </div>
    </div>

  </div>
</div> -->

<!-- !!!!!!!! -->

<!-- <button type="button" class="btn btn-primary beautify0" (click)="showImages()">
  Images
</button>
<div class="row">
  <div class="column" *ngIf="!images">
    <table>
      <tr>
        <th>Entity</th>
        <th>Predicate</th>
        <th>Object</th>
      </tr>
      <tr>
        <td>http://dbpedia.org/resource/Aristotle</td>
        <td>Type</td>
        <td>Person</td>
      </tr>
      <tr>
        <td>http://dbpedia.org/resource/Aristotle</td>
        <td>occupation</td>
        <td>Philosopher</td>
      </tr>
      <tr>
        <td>http://dbpedia.org/resource/Aristotle</td>
        <td>City</td>
        <td>Stagira in Northern Greece</td>
      </tr>
    </table>
  </div> -->

<!-- <div class="column" *ngIf="!nextTable">
    <table>
      <tr>
        <th>Entity</th>
        <th>Predicate</th>
        <th>Object</th>
      </tr>
      <tr>
        <td>http://dbpedia.org/resource/Socrates</td>
        <td>Type</td>
        <td>Person</td>
      </tr>
      <tr>
        <td>http://dbpedia.org/resource/Socrates</td>
        <td>occupation</td>
        <td>Philosopher</td>
      </tr>
      <tr>
        <td>http://dbpedia.org/resource/Socrates</td>
        <td>Born</td>
        <td>Before 1800</td>
      </tr>
    </table>
  </div>
  <div class="column" *ngIf="nextTable">
    <table>
      <tr>
        <th>Entity</th>
        <th>Predicate</th>
        <th>Object</th>
      </tr>
      <tr>
        <td>http://dbpedia.org/resource/Plato</td>
        <td>Type!!</td>
        <td>Person</td>
      </tr>
      <tr>
        <td>http://dbpedia.org/resource/Plato</td>
        <td>occupation</td>
        <td>Philosopher</td>
      </tr>
      <tr>
        <td>http://dbpedia.org/resource/Plato</td>
        <td>Born</td>
        <td>424/423 – 348/347 BC</td>
      </tr>
    </table>
  </div>
</div>
<button type="button" class="btn btn-primary beautify1" (click)="previous()">
  Previous
</button>
<button type="button" class="btn btn-primary beautify2" (click)="next()">
  Next
</button> -->
<!-- </div> -->

<!-- nextTable: boolean = false;
  images: boolean = false;
  constructor() {}

  ngOnInit() {}

  next() {
    this.nextTable = true;
  }

  previous() {
    this.nextTable = false;
  }

  showImages() {
    this.images = true;
  } -->
