#textJson {
  margin-left: 10px;
  margin-right: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: auto;
  max-width: 100%;
  /* min-width: 30%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}

.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

.form-control {
  background-color: #ede7e7;
  border: 1px solid #f4f4f4;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #fd0d0d;
  --bs-btn-border-color: #fd0d0d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c26464;
  --bs-btn-hover-border-color: #cd3b3b;
  --bs-btn-focus-shadow-rgb: 100, 100, 100;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ca0a0a;
  --bs-btn-active-border-color: #bd0a0a;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #bd3d3d;
  --bs-btn-disabled-border-color: #e50a0a;
}

.beautify {
  margin-bottom: 10px;
  margin-left: 10px;
}

.select {
  margin-bottom: 10px;
}

#errorMessage {
  color: #bd0a0a;
}


footer {
  width: 100%;
  position: inherit;
  bottom: 0px;
}

@media screen and (max-width: 550px) {
  footer {
    width: 100%;
    position: inherit;
    bottom: 0px;
  }
}


#main-entity {
  width: 100%;
}

#OtherEntity {
  width: 100%;
}

.right-side {
  display: flex;
  width: 60%;
  margin-left: 40%;
  align-items: center;
}

.right-button {
  margin-top: 5px;
  display: flex;
  width: 60%;
  margin-left: 40%;
  align-items: center;
  justify-content: right;
}

.otherEntityLabel {
  width: 20%;
}

.hero-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  width: 70%;
}

.legend-section {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.continue-btn {
  display: flex;
  width: 100%;
  justify-content: end;
}

.messUrl {
  color: #bd0a0a;
}
