<div class="text-center">
  <div class="polaroid">
    <img src="../assets/logo.jpg" class="rounded" alt="Entities Comparison">
  </div>
</div>
<div class="hero-section">

  <form class="form-field" [formGroup]="form" (submit)="submit(form.value)">
    <fieldset>
      <legend>Entities:</legend>
      <div class="legend-section">
        <button class="btn btn-primary" type="button" (click)="reset()">Clear Current Fields</button>
        <!-- <button class="btn btn-primary" type="button" (click)="clearAll()">Delete All</button> -->
      </div>

      <label for="main-entity">Main Entity: </label>
      <input type="text" id="main-entity" name="main-entity" (focusout)="focusOutFunction()"
        placeholder="http://dbpedia.org/resource/Aristotle" formControlName="mainEntity">
      <ng-container formArrayName="otherEntity" *ngFor="let entity of otherEntity.controls; index as i">
        <ng-container [formGroupName]="i">
          <div class="right-side">
            <label class="otherEntityLabel" for="OtherEntity">Other Entity:</label>
            <input id="OtherEntity" name="OtherEntity" (focusout)="focusOutFunction()"
              placeholder="http://dbpedia.org/resource/Socrates" formControlName="otherEntities" />

            <button class="btn btn-primary" type="button" (click)="removeEntityField(i)">
              x
            </button>

          </div>


        </ng-container>
      </ng-container>

      <div class="right-button">
        <button class="btn btn-primary" type="button" (click)="addEntityField()">
          Add
        </button>
      </div>
      <br /><br />

      <div class="messUrl"> {{messageUrl}}</div>
      <br>

      <!-- <button class="btn btn-primary" type="button" [disabled]="!checkUrl" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop" (click)="addMainEntityField()">
        Add Another Comparison
      </button> -->
    </fieldset>
    <br />
    <div class="continue-btn">
      <button class="btn btn-primary" type="submit" [disabled]="!checkUrl">Continue</button>
    </div>
  </form>

</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>


<footer class="text-center text">
  <hr />
  Copyright © 2022 Entities Comparison Inc.
  <br />
  All trademarks or registered trademarks are property of their respective
  owners.
</footer>
