<div class="istruction">
  <div class="title">Welcome to Entities Comparison</div>
  <div class="card2">
    <div class="container2">

      In the left menu you can select "Start" and import a JSON format. <br>
      This JSON format must contain links to the main entity and the other entities you want to compare. They may also
      contain links to images. <br>
      After importing the JSON, you can select 'Beautify' if you want to make the JSON more visible.<br> Then, by
      clicking 'Select' you can see on the left a table with the main entity and some information about it and on the
      right a table with the first entity you want to compare and some information about it.<br>
      You can select the "Next" button if you want to change the entity you want to compare.<br>
      At the top of the page you can watch the JSON you entered earlier and by clicking 'Change' you can change the
      entities you want to compare.<br>
      Also there is a mode button and by clicking on it you can change mode.<br>
      If you click on the images, then only the images appear on the left and right.<br>
      If you click on tables, only tables with entity information are displayed.<br>
      Finally, if you click on wikipedia you can watch the entities wikipedia page.<br>
      Thank you for using Entity Compare.
    </div>
  </div>
</div>

<footer class="text-center text">
  <hr />
  Copyright © 2022 Entities Comparison Inc.
  <br />
  All trademarks or registered trademarks are property of their respective
  owners.
</footer>
