<div class="istruction">
  <div class="title">Welcome to Entities Comparison</div>
  <div class="card2">
    <div class="container2">
      In the left menu you can select "Comparison" and write the entities from Dbpedia that you want to compare.<br>
      First, you can write the URL of the main entity and then as many other entities as you want.<br>
      There are some default values ​comparing Aristotle and Socrates.<br>
      Note that the Dbpedia URL must be valid.<br>
      There is a button to delete all current fields and there are buttons to add or delete other entities.<br>
      When you've entered all the entities you want to compare, you can click the "Start" button. <br>
      <br>
      There are <b>five modes</b> you can compare your entities. <br>

      The <b>first mode</b> is "Wikipedia" and is the original wikipedia site for the selected entities.<br>

      The <b>second mode</b> is "Triples" where you can see all the information about the selected entities.<br>

      On the left is the main entity and on the right are all the other entities. You can change them
      with the "Previous" and "Next" button.<br>

      The <b>third mode</b> is "Specific predicates" and there the users can select from the selection
      box a specific predicate that they want to see.<br>
      Again, on the left is the main entity and on the right are all the other entities.<br>

      The <b>forth mode</b> is "Images" and there you can see all the images that exists in Dbpedia
      for those entities. <br>

      Finally, the <b>fifth mode</b> is "Commonalities" and the user can see how much the entities have in common.<br>
      <br>

      Here is a video explaining how Entities Comparison works. <br> <br>
      <!-- <iframe width="600" height="500" src="https://www.youtube.com/embed/v=unSU6D-ROZc&ab_channel=MikeMountantonakis"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe> -->
      <iframe width="700" height="500" src="https://www.youtube.com/embed/unSU6D-ROZc" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <br>
      <br>

      You can find the code of the Entities Comparison front-end part at this GitHub URL: <a
        href="https://github.com/Marileni/Thesis" title="Angular">Angular code</a> <br>
      Also, you can find the code of the Entities Comparison back-end part at this GitHub URL: <a
        href="https://github.com/Marileni/Thesis-API" title="C#">C# code</a>

      <br>
      <br>

      Thank you for using Entities Comparison.
    </div>
  </div>
</div>

<footer class="text-center text">
  <hr />
  Copyright © 2022
  <br>
  <br>
</footer>
