<div class="content">
  <div>
    <button type="button" class="btn btn-primary select prvEnt" (click)="back()">
      Back
    </button>
    <div>

      <select #mode [disabled]="loading" class="form-select" aria-label="Default select example"
        (change)="changeMode(mode.value)">
        <option selected value="2">Wikipedia</option>
        <option value="0">All triples</option>
        <option value="4">Specific predicates</option>
        <option value="1">Images</option>
        <option value="3">Commonalities</option>

      </select>

      <div *ngIf="!loading">
        <div *ngIf="modeChange == 0">
          <div id="table-container">
            <div *ngFor="let ent of finalEntitiesUrl.entities; let i = index">
              <div class="column2 right-border" *ngIf="changeEntity == i">
                <div class="tableTitle">
                  <span class="titleBold">Entity:</span>
                  <a href="{{ allEntities.entities[i].mainEntity }}">
                    {{ allEntities.entities[i].mainEntity }}</a>
                  <br>
                  <div class="triplesMess">
                    Triples: <b>{{finalEntitiesUrl.entities[i].mainEntity.length}}</b>
                  </div>
                </div>
                <div>
                  <table class="mtable">
                    <thead>
                      <tr>
                        <th>Predicate</th>
                        <th>Object</th>
                      </tr>
                    </thead>
                    <tbody class="table-body">
                      <tr *ngFor="
                          let user of finalEntitiesUrl.entities[i].mainEntity;
                          let j = index
                        ">
                        <td class="table-cell">{{ user.predicate }}</td>
                        <td class="table-cell" *ngIf="ValidURL(finalEntities.entities[i].mainEntity[j].object)">
                          <a href="{{ finalEntities.entities[i].mainEntity[j].object }}">{{ user.object }}</a>
                        </td>
                        <td class="table-cell" *ngIf="!ValidURL(finalEntities.entities[i].mainEntity[j].object)">
                          {{ user.object }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div *ngFor="let ent of finalEntitiesUrl.entities; let i = index">
              <div *ngFor="
                  let ent of finalEntitiesUrl.entities[i].otherEntity;
                  let k = index
                ">
                <div class="column2 left-border" *ngIf="changeOtherEntity == k">
                  <div class="tableTitle">
                    <span class="titleBold">Entity:</span>
                    <a href="{{
                        allEntities.entities[i].otherEntity[k].otherEntities
                      }}">
                      {{
                      allEntities.entities[i].otherEntity[k].otherEntities
                      }}</a>
                    <div class="triplesMess">
                      Triples: <b>{{finalEntitiesUrl.entities[i].otherEntity[k].length}}</b>
                    </div>
                  </div>
                  <div>
                    <table class="mtable">
                      <thead>
                        <tr>
                          <th>Predicate</th>
                          <th>Object</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="
                            let user of finalEntitiesUrl.entities[i]
                              .otherEntity[k];
                            let l = index
                          ">
                          <td class="table-cell">{{ user.predicate }}</td>
                          <td class="table-cell" *ngIf="ValidURL(finalEntities.entities[i].otherEntity[k][l].object)">
                            <a href="{{
                                finalEntities.entities[i].otherEntity[k][l].object
                              }}">{{ user.object }}</a>
                          </td>

                          <td class="table-cell" *ngIf="!ValidURL(finalEntities.entities[i].otherEntity[k][l].object)">
                            {{ user.object }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="buttonContainer">
            <div class="nextPrevButtons">
              <!-- <button type="button" class="btn btn-primary select prvEnt" [disabled]="previousCompBtn"
                (click)="prvEntity()">
                Previous Comparison
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" [disabled]="nextCompBtn"
                (click)="nextEntity()">
                Next Comparison
              </button> -->
            </div>

            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" [disabled]="previousEntBtn"
                (click)="prvOtherEntity()">
                Previous
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" [disabled]="nextEntBtn"
                (click)="nextOtherEntity()">
                Next
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="modeChange == 1">
          <div class="image-container">
            <div *ngFor="let ent of dataImages.entities let i = index">
              <div *ngIf="changeEntity == i">
                <div class="tableTitle">
                  <span class="titleBold">Entity:</span>
                  <a href="{{ allEntities.entities[i].mainEntity }}">
                    {{ allEntities.entities[i].mainEntity }}</a>
                </div>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner"
                    *ngFor="let image of finalImages.entities[i].mainEntity.images; let m = index">
                    <div *ngIf="changeImages == m">
                      <div class="carousel-item active">
                        <img src="{{ finalImages.entities[i].mainEntity.images[m] }}" class="d-block w-100" alt="Image"
                          (error)="imageError1($event)" />
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev" (click)="changePreviousImage()" [disabled]="previousImage1">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next" (click)="changeNextImage()" [disabled]="nextImage1">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <div *ngIf="errorInImage1" class="errorImage">! This image cannot be displayed. Select the next image.
              </div>
            </div>

            <div *ngFor="let ent of dataImages.entities; let i = index">
              <div *ngFor="
                  let ent of dataImages.entities[i].otherEntity;
                  let k = index
                ">
                <div *ngIf="changeOtherEntityImage == k">
                  <div class="tableTitle">
                    <span class="titleBold">Entity:</span>
                    <a href="{{ allEntities.entities[i].otherEntity[k].otherEntities }}">
                      {{ allEntities.entities[i].otherEntity[k].otherEntities }}</a>
                  </div>
                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner"
                      *ngFor="let images of finalImages.entities[i].otherEntity[k].images; let p = index">
                      <div *ngIf="changeOtherImages == p">
                        <div class="carousel-item active">
                          <img src="{{ finalImages.entities[i].otherEntity[k].images[p] }}" class="d-block w-100"
                            alt="Image" (error)="imageError2($event)" />
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                      data-bs-slide="prev" (click)="changeOtherPreviousImage()" [disabled]="previousImage2">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                      data-bs-slide="next" (click)="changeOtherNextImage()" [disabled]="nextImage2">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngIf="errorInImage2" class="errorImage">! This image cannot be displayed. Select the next image.
              </div>
            </div>
          </div>

          <br>

          <div class="image-button-container">
            <div class="nextPrevButtons">
              <!-- <button type="button" class="btn btn-primary select prvEnt" (click)="imagesPrvEntity()"
                [disabled]="previousImageComp">
                Previous Comparison
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="imagesNextEntity()"
                [disabled]="nextImageComp">
                Next Comparison
              </button> -->
            </div>

            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" (click)="imagesPrvOtherEntity()"
                [disabled]="previousImageEntity">
                Previous
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="imagesNextOtherEntity()"
                [disabled]="nextImageEntity">
                Next
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="modeChange == 2">
          <div *ngFor="let ent of entitiesWithUrl.entities; let i = index"
            [ngStyle]="{'display': changeCompWiki == i ? 'block' : 'none'}">
            <div *ngIf="changeCompWiki == i" style="display: flex;">
              <iframe [src]="entitiesWithUrl.entities[i].mainEntity | safe" name="iframe_a" height="600px" width="50%"
                title="Iframe "></iframe>

              <div *ngFor="let wiki of entitiesWithUrl.entities[i].otherEntity; let k = index"
                [ngStyle]="{'display': changeEntityWiki == k ? 'block' : 'none', 'width': '50%'}">
                <div *ngIf="changeEntityWiki == k">
                  <iframe [src]=" entitiesWithUrl.entities[i].otherEntity[k]  | safe" name="iframe_a" height="600px"
                    width="100%" title="Iframe "></iframe>
                </div>
              </div>
            </div>
          </div>

          <div class="image-button-container">
            <div class="nextPrevButtons">
              <!-- <button type="button" class="btn btn-primary select prvEnt" (click)="wikipediaPrvComp()"
                [disabled]="previousWikiComp">
                Previous Comparison
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="wikipediaNextComp()"
                [disabled]="nextWikiComp">
                Next Comparison
              </button> -->
            </div>

            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" (click)="wikipediaPrvEntity()"
                [disabled]="previousWikiEntity">
                Previous
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="wikipediaNextEntity()"
                [disabled]="nextWikiEntity">
                Next
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="modeChange == 3">
          <div *ngFor="let ent of commonEntities.entities; let i = index">
            <div class="column2 right-border" *ngIf="changeCompCommon == i">
              <div class="tableTitle">
                <span class="titleBold">Entity:</span>
                <a href="{{ allEntities.entities[i].mainEntity }}">
                  {{ allEntities.entities[i].mainEntity }}</a>
                and <span class="titleBold">Entity:</span>
                <a href="{{
                    allEntities.entities[i].otherEntity[changeEntityCommon].otherEntities
                  }}">
                  {{ allEntities.entities[i].otherEntity[changeEntityCommon].otherEntities }}</a>
              </div>

              <div class="message">There are <b>{{ commonLength.entities[i].total[changeEntityCommon] }}</b> common
                triples.
              </div>
              <br />
              <div id="table-container">
                <div *ngFor="
              let user of commonEntities.entities[i].common;
              let j = index">
                  <div *ngIf="changeEntityCommon == j">
                    <table class="mtable">
                      <thead>
                        <tr>
                          <th>Predicate</th>
                          <th>Object</th>
                        </tr>
                      </thead>
                      <tbody class="table-body">
                        <tr *ngFor="
                        let user of commonEntities.entities[i].common[j];
                        let k = index
                      ">
                          <td class="table-cell">
                            {{ commonEntitiesUrl.entities[i].common[j][k].predicate }}
                          </td>
                          <td class="table-cell" *ngIf="ValidURL(commonEntities.entities[i].common[j][k].object)">
                            <a href="{{ commonEntities.entities[i].common[j][k].object }}">{{
                              commonEntitiesUrl.entities[i].common[j][k].object
                              }}</a>
                          </td>

                          <td class="table-cell" *ngIf="!ValidURL(commonEntities.entities[i].common[j][k].object)">
                            {{ commonEntitiesUrl.entities[i].common[j][k].object }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="image-button-container">
            <div class="nextPrevButtons">
              <!-- <button type="button" class="btn btn-primary select prvEnt" (click)="commonPrvComp()"
                [disabled]="previousCommonComp">
                Previous Comparison
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="commonNextComp()"
                [disabled]="nextCommonComp">
                Next Comparison
              </button> -->
            </div>

            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" (click)="commonPrvEntity()"
                [disabled]="previousCommonEntity">
                Previous
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="commonNextEntity()"
                [disabled]="nextCommonEntity">
                Next
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="modeChange == 4">
          <hr>
          <div class="textMess"> The default predicate is '22-rdf-syntax-ns#type'.

            If you would like to select another predicate, please select from the selection box below.
          </div>

          <div *ngFor="let ent of specificPred.entities; let i = index">
            <div *ngIf="i == specificComp">
              <select style="width: 20%" #mode [disabled]="loadingChange" class="form-select"
                aria-label="Default select example" (change)="changePredicate(mode.value)">
                <option *ngFor="let entity of specificPred.entities[i]; let j = index">
                  {{specificPred.entities[i][j].predicate}}
                </option>
              </select>
            </div>
          </div>

          <div *ngIf="!loadingChange">
            <div id="table-container">
              <div *ngFor="let ent of finalEntitiesUrl.entities; let i = index">
                <div class="column2 right-border" *ngIf="changeCompSpec == i">
                  <div class="tableTitle">
                    <span class="titleBold">Entity:</span>
                    <a href="{{ allEntities.entities[i].mainEntity }}">
                      {{ allEntities.entities[i].mainEntity }}</a>
                  </div>
                  <div>
                    <table class="mtable">
                      <thead>
                        <tr>
                          <th>Predicate</th>
                          <th>Object</th>
                        </tr>
                      </thead>
                      <tbody class="table-body">
                        <tr *ngFor="
                          let user of specificPrFinal.entities[i].mainEntity;
                          let j = index
                        ">
                          <td class="table-cell">{{ user.predicate }}</td>
                          <td class="table-cell" *ngIf="ValidURL(specificPrFinalUrl.entities[i].mainEntity[j].object)">
                            <a href="{{ specificPrFinalUrl.entities[i].mainEntity[j].object }}">{{ user.object }}</a>
                          </td>
                          <td class="table-cell" *ngIf="!ValidURL(specificPrFinalUrl.entities[i].mainEntity[j].object)">
                            {{ user.object }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div *ngFor="let ent of finalEntitiesUrl.entities; let i = index">
                <div *ngFor="
                  let ent of finalEntitiesUrl.entities[i].otherEntity;
                  let k = index
                ">
                  <div class="column2 left-border" *ngIf="changeEntitySpec == k">
                    <div class="tableTitle">
                      <span class="titleBold">Entity:</span>
                      <a href="{{
                        allEntities.entities[i].otherEntity[k].otherEntities
                      }}">
                        {{
                        allEntities.entities[i].otherEntity[k].otherEntities
                        }}</a>
                    </div>
                    <div>
                      <table class="mtable">
                        <thead>
                          <tr>
                            <th>Predicate</th>
                            <th>Object</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="
                            let user of specificPrFinal.entities[i]
                              .otherEntity[k];
                            let l = index
                          ">
                            <td class="table-cell">{{ user.predicate }}</td>
                            <td class="table-cell"
                              *ngIf="ValidURL(specificPrFinalUrl.entities[i].otherEntity[k][l].object)">
                              <a href="{{
                              specificPrFinalUrl.entities[i].otherEntity[k][l].object
                              }}">{{ user.object }}</a>
                            </td>

                            <td class="table-cell"
                              *ngIf="!ValidURL(specificPrFinalUrl.entities[i].otherEntity[k][l].object)">
                              {{ user.object }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="buttonContainer">
              <div class="nextPrevButtons">
                <!-- <button type="button" class="btn btn-primary select prvEnt" [disabled]="previousSpecComp"
                  (click)="previousCompSpec()">
                  Previous Comparison
                </button>
                <div>|</div>
                <button type="button" class="btn btn-primary select nextEnt" [disabled]="nextSpecComp"
                  (click)="nextCompSpec()">
                  Next Comparison
                </button> -->
              </div>

              <div class="nextPrevButtons">
                <button type="button" class="btn btn-primary select prvEnt" [disabled]="previousSpecEntity"
                  (click)="previousEntitySpec()">
                  Previous
                </button>
                <div>|</div>
                <button type="button" class="btn btn-primary select nextEnt" [disabled]="nextSpecEntity"
                  (click)="nextEntitySpec()">
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="load">
        <div *ngIf="loading">
          <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>

      <div id="load">
        <div *ngIf="loadingChange">
          <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>

      <footer class="text-center text">
        <hr />
        Copyright © 2022
        <br>
        <br>
      </footer>

    </div>
  </div>
