<div class="content">
  <div>
    <button type="button" class="btn btn-primary select prvEnt" (click)="back()">
      Back
    </button>
    <div>
      <!-- <img src="../assets/logo.jpg" class="imageFix" alt="Entities Comparison">
  <div class="wrap">
    <textarea [(ngModel)]=data class="form-control z-depth-1" id="exampleFormControlTextarea6" cols=20 rows=10
      placeholder="Enter a JSON format..."></textarea>
    <div *ngIf="appearError" id="errorMessage">
      <p>! {{message}}</p>
    </div>
    <button type="button" class="btn btn-primary select" (click)="beautify()">Beautify</button>
    |
    <button type="button" class="btn btn-primary select" (click)="changeEntities()">Change</button>
  </div>  -->

      <select #mode [disabled]="loading" class="form-select" aria-label="Default select example"
        (change)="changeMode(mode.value)">
        <option selected value="0">Tables</option>
        <option value="1">Images</option>
        <option value="2">Wikipedia</option>
        <option value="3">Commonalities</option>
        <option value="4">Specific predicates</option>
      </select>

      <div *ngIf="!loading">
        <div *ngIf="modeChange == 0">
          <div id="table-container">
            <!-- <div class="column2 right-border" *ngFor="let ent of oneJSON; let i = index"> -->
            <div *ngFor="let ent of finalEntitiesUrl.entities; let i = index">
              <div class="column2 right-border" *ngIf="changeEntity == i">
                <div class="tableTitle">
                  <span class="titleBold">Entity:</span>
                  <a href="{{ allEntities.entities[i].mainEntity }}">
                    {{ allEntities.entities[i].mainEntity }}</a>
                </div>
                <div>
                  <table class="mtable">
                    <thead>
                      <tr>
                        <th>Predicate</th>
                        <th>Object</th>
                      </tr>
                    </thead>
                    <tbody class="table-body">
                      <tr *ngFor="
                          let user of finalEntitiesUrl.entities[i].mainEntity;
                          let j = index
                        ">
                        <td class="table-cell">{{ user.predicate }}</td>
                        <!-- <div *ngIf=""></div> -->
                        <td class="table-cell" *ngIf="ValidURL(finalEntities.entities[i].mainEntity[j].object)">
                          <a href="{{ finalEntities.entities[i].mainEntity[j].object }}">{{ user.object }}</a>
                        </td>
                        <td class="table-cell" *ngIf="!ValidURL(finalEntities.entities[i].mainEntity[j].object)">
                          {{ user.object }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- <div class="name">Socrates</div> -->
            <!-- <div class="column2 left-border" *ngFor="let ent of oneJSON; let k = index"> -->
            <div *ngFor="let ent of finalEntitiesUrl.entities; let i = index">
              <div *ngFor="
                  let ent of finalEntitiesUrl.entities[i].otherEntity;
                  let k = index
                ">
                <div class="column2 left-border" *ngIf="changeOtherEntity == k">
                  <div class="tableTitle">
                    <span class="titleBold">Entity:</span>
                    <a href="{{
                        allEntities.entities[i].otherEntity[k].otherEntities
                      }}">
                      {{
                      allEntities.entities[i].otherEntity[k].otherEntities
                      }}</a>
                  </div>
                  <div>
                    <table class="mtable">
                      <thead>
                        <tr>
                          <th>Predicate</th>
                          <th>Object</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="
                            let user of finalEntitiesUrl.entities[i]
                              .otherEntity[k];
                            let l = index
                          ">
                          <td class="table-cell">{{ user.predicate }}</td>
                          <td class="table-cell" *ngIf="ValidURL(finalEntities.entities[i].otherEntity[k][l].object)">
                            <a href="{{
                                finalEntities.entities[i].otherEntity[k][l].object
                              }}">{{ user.object }}</a>
                          </td>

                          <td class="table-cell" *ngIf="!ValidURL(finalEntities.entities[i].otherEntity[k][l].object)">
                            {{ user.object }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- <app-entities-other></app-entities-other> -->
            </div>
          </div>

          <div class="buttonContainer">
            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" [disabled]="previousCompBtn"
                (click)="prvEntity()">
                Previous Comparison
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" [disabled]="nextCompBtn"
                (click)="nextEntity()">
                Next Comparison
              </button>
            </div>

            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" [disabled]="previousEntBtn"
                (click)="prvOtherEntity()">
                Previous Entity
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" [disabled]="nextEntBtn"
                (click)="nextOtherEntity()">
                Next Entity
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="modeChange == 1">
          <div class="image-container">
            <div *ngFor="let ent of dataImages.entities let i = index">
              <div *ngIf="changeEntity == i">
                <div class="tableTitle">
                  <span class="titleBold">Entity:</span>
                  <a href="{{ allEntities.entities[i].mainEntity }}">
                    {{ allEntities.entities[i].mainEntity }}</a>
                </div>
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner"
                    *ngFor="let image of finalImages.entities[i].mainEntity.images; let m = index">
                    <div *ngIf="changeImages == m">
                      <div class="carousel-item active">
                        <img src="{{ finalImages.entities[i].mainEntity.images[m] }}" class="d-block w-100" alt="Image"
                          (error)="imageError1($event)" />
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev" (click)="changePreviousImage()" [disabled]="previousImage1">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next" (click)="changeNextImage()" [disabled]="nextImage1">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <div *ngIf="errorInImage1" class="errorImage">! This image cannot be displayed. Select the next image.
              </div>
            </div>

            <div *ngFor="let ent of dataImages.entities; let i = index">
              <div *ngFor="
                  let ent of dataImages.entities[i].otherEntity;
                  let k = index
                ">
                <div *ngIf="changeOtherEntityImage == k">
                  <div class="tableTitle">
                    <span class="titleBold">Entity:</span>
                    <a href="{{ allEntities.entities[i].otherEntity[k].otherEntities }}">
                      {{ allEntities.entities[i].otherEntity[k].otherEntities }}</a>
                  </div>
                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner"
                      *ngFor="let images of finalImages.entities[i].otherEntity[k].images; let p = index">
                      <div *ngIf="changeOtherImages == p">
                        <div class="carousel-item active">
                          <img src="{{ finalImages.entities[i].otherEntity[k].images[p] }}" class="d-block w-100"
                            alt="Image" (error)="imageError2($event)" />
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                      data-bs-slide="prev" (click)="changeOtherPreviousImage()" [disabled]="previousImage2">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                      data-bs-slide="next" (click)="changeOtherNextImage()" [disabled]="nextImage2">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
              <div *ngIf="errorInImage2" class="errorImage">! This image cannot be displayed. Select the next image.
              </div>
            </div>
          </div>

          <br>

          <div class="image-button-container">
            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" (click)="imagesPrvEntity()"
                [disabled]="previousImageComp">
                Previous Comparison
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="imagesNextEntity()"
                [disabled]="nextImageComp">
                Next Comparison
              </button>
            </div>

            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" (click)="imagesPrvOtherEntity()"
                [disabled]="previousImageEntity">
                Previous Entity
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="imagesNextOtherEntity()"
                [disabled]="nextImageEntity">
                Next Entity
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="modeChange == 2">

          <div *ngFor="let ent of entitiesWithUrl.entities; let i = index"
            [ngStyle]="{'display': changeCompWiki == i ? 'block' : 'none'}">
            <div *ngIf="changeCompWiki == i" style="display: flex;">
              <iframe [src]="entitiesWithUrl.entities[i].mainEntity | safe" name="iframe_a" height="600px" width="50%"
                title="Iframe "></iframe>

              <div *ngFor="let wiki of entitiesWithUrl.entities[i].otherEntity; let k = index"
                [ngStyle]="{'display': changeEntityWiki == k ? 'block' : 'none', 'width': '50%'}">
                <div *ngIf="changeEntityWiki == k">
                  <iframe [src]=" entitiesWithUrl.entities[i].otherEntity[k]  | safe" name="iframe_a" height="600px"
                    width="100%" title="Iframe "></iframe>
                </div>
              </div>
            </div>
          </div>

          <div class="image-button-container">
            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" (click)="wikipediaPrvComp()"
                [disabled]="previousWikiComp">
                Previous Comparison
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="wikipediaNextComp()"
                [disabled]="nextWikiComp">
                Next Comparison
              </button>
            </div>

            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" (click)="wikipediaPrvEntity()"
                [disabled]="previousWikiEntity">
                Previous Entity
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="wikipediaNextEntity()"
                [disabled]="nextWikiEntity">
                Next Entity
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="modeChange == 3">
          <div *ngFor="let ent of commonEntities.entities; let i = index">
            <div class="column2 right-border" *ngIf="changeEntity == i">
              <div class="tableTitle">
                <span class="titleBold">Entity:</span>
                <a href="{{ allEntities.entities[i].mainEntity }}">
                  {{ allEntities.entities[i].mainEntity }}</a>
                and <span class="titleBold">Entity:</span>
                <a href="{{
                    allEntities.entities[i].otherEntity[0].otherEntities
                  }}">
                  {{ allEntities.entities[i].otherEntity[0].otherEntities }}</a>
              </div>

              <div>There are {{ commonLength }} commons.</div>
              <br />

              <div>
                <table class="mtable">
                  <thead>
                    <tr>
                      <th>Predicate</th>
                      <th>Object</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr *ngFor="
                        let user of commonEntities.entities[i].common;
                        let j = index
                      ">
                      <td class="table-cell">
                        <!-- {{ commonEntitiesUrl.entities[i][j].predicate }} -->
                      </td>
                      <td class="table-cell">
                        <!-- <a href="{{ commonEntities.entities[i][j].object }}">{{
                          commonEntitiesUrl.entities[i][j].object
                          }}</a>-->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="image-button-container">
            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" (click)="wikipediaPrvComp()"
                [disabled]="previousWikiComp">
                Previous Comparison
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="wikipediaNextComp()"
                [disabled]="nextWikiComp">
                Next Comparison
              </button>
            </div>

            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" (click)="wikipediaPrvEntity()"
                [disabled]="previousWikiEntity">
                Previous Entity
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="wikipediaNextEntity()"
                [disabled]="nextWikiEntity">
                Next Entity
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="modeChange == 4">
          <div *ngFor="let ent of commonEntities.entities; let i = index">
            <div class="column2 right-border" *ngIf="changeEntity == i">
              <div class="tableTitle">
                <span class="titleBold">Entity:</span>
                <a href="{{ allEntities.entities[i].mainEntity }}">
                  {{ allEntities.entities[i].mainEntity }}</a>
                and <span class="titleBold">Entity:</span>
                <a href="{{
                    allEntities.entities[i].otherEntity[0].otherEntities
                  }}">
                  {{ allEntities.entities[i].otherEntity[0].otherEntities }}</a>
              </div>

              <div>
                <table class="mtable">
                  <thead>
                    <tr>
                      <th>Predicate</th>
                      <th>Object</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr *ngFor="
                        let user of commonEntities.entities[i].common;
                        let j = index
                      ">
                      <td class="table-cell">
                        <!-- {{ commonEntitiesUrl.entities[i][j].predicate }} -->
                      </td>
                      <td class="table-cell">
                        <!-- <a href="{{ commonEntities.entities[i][j].object }}">{{
                          commonEntitiesUrl.entities[i][j].object
                          }}</a> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="image-button-container">
            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" (click)="wikipediaPrvComp()"
                [disabled]="previousWikiComp">
                Previous Comparison
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="wikipediaNextComp()"
                [disabled]="nextWikiComp">
                Next Comparison
              </button>
            </div>

            <div class="nextPrevButtons">
              <button type="button" class="btn btn-primary select prvEnt" (click)="wikipediaPrvEntity()"
                [disabled]="previousWikiEntity">
                Previous Entity
              </button>
              <div>|</div>
              <button type="button" class="btn btn-primary select nextEnt" (click)="wikipediaNextEntity()"
                [disabled]="nextWikiEntity">
                Next Entity
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="load">
      <div *ngIf="loading">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

    <footer class="text-center text">
      <hr />
      Copyright © 2022 Entities Comparison Inc.
      <br />
      All trademarks or registered trademarks are property of their respective
      owners.
    </footer>

    <!-- <div class="row1">
    <div class="column2">
      <code [innerHTML]="text"></code>
      </div>
      <div class="column2">
      <code [innerHTML]="text"></code>

    </div>
    </div> -->

    <!-- <div style="position:absolute; left:100px; right:100px;">
    <div style="position:relative;">
      <img src="../assets/logo.jpg" style="position:absolute;">
      <div style="position: absolute; left:210px; right:0px; top:0px;">
        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" style="width:100%; height:100px; display:block;
            padding:0;"> </textarea>
      </div>
    </div>
  </div> -->
  </div>
</div>
